.upload-button {
  transition: all 0.15s;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #0075b4;
  padding: 1px 10px 2px 10px;
  background-color: #fff;
  color: #0075b4;
}

.upload-button:hover {
  background-color: #0075b4;
  color: #fff;
}
